:root{
    --font-family:'Work Sans', sans-serif, arial;
    --orang-color:#f89f3a;
    --gray-color:#727272;
    --darker:#424242;
    --bisque:#FFF4E7;
    --black: #131313;

    
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
header{
    background-color: var(--bisque);
    width: 100vw;
}

.container{
    width:80%;
    margin: 0 auto;
    font-family: var(--font-family);
  
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-title a{
    color: var(--darker);
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}
.navigation ul{
    display: flex;
    align-items: center;
    padding: 20px;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}
.navigation ul li a{
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    color: var(--gray-color);
}

.brand-new{
    padding: 50px 0px;
}
.brand-new-title-container{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
.brand-new-title{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: var(--black);
    padding: 0px 0px;
}
.brand-new-description{
    color: var(--gray-color);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
}
.btn-brand-new{
    margin:50px 0px ;
    
}
.brand-new-btn{
    padding: 15px 25px;
    background-color: var(--orang-color);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.brand-new-image img{
    width: 100%;
}

.features{
    padding: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.features-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 50%;
}
.features-image-container img{
    width: 100%;
}
.features-text-container{
    width: 50%;
}
.features-title{
    font-weight: 700px;
    font-size: 45px;
    padding-bottom: 10px;
}
.features-description{
    color: var(--gray-color);
    font-size: 20px;
}
.first-span{
    font-weight: 500px;
    color:var(--gray-color);
}
.second-span{
    color: var(--orang-color);
}

.Features-2{
    margin-top: 50px;
}
.Features2-container{
 display: flex;
 gap: 30px;
}
.Features2-text-container{
    width: 50%;
}
.Features2-title{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    width: 80%;
    padding: 0px 10px;
    border-left: 4px solid var(--orang-color);
    margin-bottom: 10px;   
}
.Features2-description{
    width: 95%;
    color: var(--gray-color);
    font-size: 18px;
    padding-bottom: 10px;

}
.Features2-image-container{
    width: 50%;
    position: relative;
}
.Features2-image-container img{
    width: 100%;
}
.Features-items{
    box-shadow: 3px 3px 3px whitesmoke;
    width: 90%;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0px;
}
.Features-items-title{
    font-size: 22px;
  margin: 10px 0px;
}
.Features-items-description{
    font-style: normal;
    font-weight: 400;
    color: var(--gray-color);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Features2-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    position: absolute;
    left:47%;
    width: 15%;
    height: 110px;
    background-color: var(--orang-color);
    margin-bottom: 125px;
}
.btn-title{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.fact{
    margin-top: 100px;
}
.fact-text{
    width: 50%;
    padding: 100px 0px;
}
.fact-text>.some-fact-title{
    font-size: 40px;
    font-weight: bold;
}
.description{
    color: var(--gray-color);
}
.fact-item-container{
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
     display: flex;
}
.fact-item{
    width: 20%;;
    padding: 30px 10px;
    margin: 0px 10px;
    border: 2px solid var(--orang-color);
    border-radius: 5px;
     transition: all 0.5s;
}
.fact-title{
    padding: 10px 0px ;
    color: var(--black);
    font-size: 30px;
}
.fact-description{
    color: var(--gray-color);
    font-weight: 700;
}
.fact-item:hover{
    transform:translate3d(360deg);
    background-color:var(--orang-color);
}
.sponsors{
    margin-top:150px;
    margin-bottom: 100px;
}
.sponsors-text{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.sponsors-title{
    font-size: 40px;
    padding: 20px 0px;
    font-weight: bold;
}
.sponsors-item-container{
    padding: 30px 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sponsors-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
}
.sponsors-item-container img{
    width: 100%;
    -webkit-filter: grayscale(100%); 
     filter: grayscale(100%);
}
.footer{
    text-align: center;
    }
    .footersec {
    width: 100%;
    height: 70vh;
    background-color: #927373;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    }
    
    .footertitle {
    color: #ffffff;
    padding: 45px 0 20px 0;
    font-size: 45px;
    font-weight: 600;
    }
    
    .f-details {
    color: #ffffff;
    font-size: 17px;
    font-weight: 120;
    font-family: sans-serif;
    line-height: 27px;
    
    }
    
    .email {
    color: #ffffff;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    }
    
    .social-icons {
    display: flex;
    font-size: 30px;
    }
    .color-f{
    color: #1da1f2;
    }
    .color-t{
    color: #062b4e;
    }
    .color-y{
    color: #ff0000;
    }
    .icon-fb {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 50px 50px;
    margin: 10px 10px;
    transition: .5s;
    
    }
    .icon-fb:hover{
    transition: .5s;
    color: #f0ecec;
    background-color: #8e9ca5;
    }
    
    .footerside2{
    width: 26%;
    height: 50vh;
    
    }
    .subscribe{
    color: #FFFFFF;
    font-size: 35px;
    }
    .input-mail input{
    width: 60%;
    padding: 14px 10px;
    margin: 20px 0;
    background-color: #fffbfb;
    border-radius: 5px;
    border: 1px solid #ececec;
    }
    .btn-subscribe{
    padding: 14px 35px;
    font-size: 18px;
    background-color: #ffffff;
    color: #151414;
    }
    .btn-subscribe:hover{
    background-color: #0d0d0e;
    color: #FFFFFF;
    border: 1px solid #ffffff;
    }
.container-footer{
    margin-top: 0px;
    background-color: var(--bisque);
    padding: 20px 0px;
    width: auto;
    text-align: center;
    color: var(--gray-color);
}